<footer class="mt-10 mb-5 text-right">
  <p class="text-sm">&copy; 2022 <a href="https://github.com/schaeferjessica/vanilla-rent"
      class="link mt-5 inline-block text-sm">Vanilla RENT</a></p>
</footer>