<nav class="flex flex-row justify-between items-center mt-10">
  <a href="/">
    <img src="../images/logo-airbnb.png" alt="logo" class="w-28 h-auto">
  </a>
  <div class="flex">
    <button class="button ml-1.5">Login</button>
  </div>
</nav>