<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Express Rent</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/872a284d4f.js" crossorigin="anonymous"></script>
</head>

<body>
  {{{body}}}
</body>

</html>