<div
  class="bg-[url('https://images.unsplash.com/photo-1488197047962-b48492212cda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1734&q=80')] h-screen w-screen bg-cover bg-no-repeat bg-center flex flex-col justify-center items-center">

  <div class="container m-auto">
    <div class="bg-white p-10 rounded-md mx-4 xl:m-auto xl:max-w-[50%]">
      <a href="/">
        <img src="../images/logo-airbnb.png" alt="logo" class="w-28 h-auto m-auto">
      </a>
      <!--sign in form-->
      <form action="/auth/login" method="POST">
        <div class="mt-5">
          <label for="email-address" class="block text-sm font-medium">Email</label>
          <input type="email" name="email-address" id="email-address" autocomplete="email" required
            class="p-2 mt-1 required:border-red-300 border focus:ring-gray-700 focus:border-gray-700 block w-full shadow-sm sm:text-sm border-gray-500 rounded-md">
        </div>

        <div class="mt-5">
          <label for="password" class="block text-sm font-medium">Password</label>
          <input id="password" name="password" type="password" autocomplete="current-password" required
            class="p-2 mt-1 required:border-red-300 border focus:ring-gray-700 focus:border-gray-700 block w-full shadow-sm sm:text-sm border-gray-500 rounded-md">
        </div>

        <button type="submit" class="button mt-5">Login</button>
      </form>
      <p class="mt-5 inline-block text-sm text-slate-500">new to this webseite? <a href="/signup"
          class="mt-5 inline-block text-sm border-b-2 border-blue-200">signup</a></p>
    </div>
  </div>

</div>