<div class="container mx-auto pl-8 pr-8">
  <!--nav-->
  {{> navigation }}

  <div class="xl:max-w-[70%] mx-auto">
    <h1>List a House</h1>
    <!--form-->
    <form action="/houses" method="POST" class="mt-5">
      <div class="mt-5">
        <label for="title" class="block">Short Title</label>
        <input type="text" name="title" id="title" class="p-2 mt-2 block w-full border border-gray-400 rounded"
          required>
      </div>

      <div class="mt-5">
        <label for="description" class="block">Description</label>
        <textarea name="description" id="description" class="p-2 mt-2 block w-full border border-gray-400 rounde"
          required minlength="100"></textarea>
      </div>

      <div class="mt-5">
        <label for="rooms" class="block">Number of Rooms</label>
        <input type="nummber" name="rooms" id="rooms" min="1" max="10"
          class="p-2 mt-2 block w-full border border-gray-400 rounde out-of-range:border-red-300" required>
      </div>

      <div class="mt-5">
        <label for="location" class="block">Location</label>
        <select name="location" id="location" class="p-2 mt-2 block w-full border border-gray-400 rounde bg-white h-10">
          <option value="Thailand">Thailand</option>
          <option value="England">England</option>
          <option value="Germany">Germany</option>
        </select>
      </div>

      <div class="mt-5">
        <label for="price" class="block">Price Per Night</label>
        <input type="nummber" name="price" id="price" min="1"
          class="p-2 mt-2 block w-full border border-gray-400 rounde out-of-range:border-red-300" required>
      </div>

      <fieldset class="mt-5">
        <legend class="block">Photo URLS:</legend>
        <label for="url-1" class="sr-only">Photo URL</label>
        <input type="text" name="photos" id="url-1" class="p-2 mt-2 block w-full border border-gray-400 rounde"
          placeholder="https://">

        <label for="url-2" class="sr-only">Photo URL</label>
        <input type="text" name="photos" id="url-2" class="p-2 mt-2 block w-full border border-gray-400 rounde"
          placeholder="https://">

        <label for="url-3" class="sr-only">Photo URL</label>
        <input type="text" name="photos" id="url-3" class="p-2 mt-2 block w-full border border-gray-400 rounde"
          placeholder="https://">
      </fieldset>

      <button type="submit" class="button mt-5">Submit</button>
    </form>
  </div>

  <!--footer-->
  {{> footer }}
</div>